<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Colosseum in Italy</title>
    <link rel="stylesheet" href="/views/views.css">
</head>
<body>
    <h1>The Colosseum in Italy</h1>

    <div id="v1">
        <img src="/images/The_Colosseum_in _taly.webp" alt="The Colosseum in Italy" width="500px" height="500px">
        <iframe width="560" height="330" src="https://www.youtube.com/embed/jsKvZ_VdJr0?si=HAWcXkPLT3HChJHt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Colosseum, giant amphitheater built in Rome under the Flavian emperors. Construction of the Colosseum was begun sometime between 70 and 72 ce during the reign of Vespasian. It is located just east of the Palatine Hill, on the grounds of what was Nero’s Golden House. The artificial lake that was the centerpiece of that palace complex was drained, and the Colosseum was sited there, a decision that was as much symbolic as it was practical. Vespasian, whose path to the throne had relatively humble beginnings, chose to replace the tyrannical emperor’s private lake with a public amphitheater that could host tens of thousands of Romans.
            The structure was officially dedicated in 80 ce by Titus in a ceremony that included 100 days of games. Later, in 82 ce, Domitian completed the work by adding the uppermost story. Unlike earlier amphitheaters, which were nearly all dug into convenient hillsides for extra support, the Colosseum is a freestanding structure of stone and concrete, using a complex system of barrel vaults and groin vaults and measuring 620 by 513 feet (189 by 156 meters) overall. Three of the arena’s stories are encircled by arcades framed on the exterior by engaged columns in the Doric, Ionic, and Corinthian orders; the structure’s rising arrangement of columns became the basis of the Renaissance codification known as the assemblage of orders. The main structural framework and facade are travertine, the secondary walls are volcanic tufa, and the inner bowl and the arcade vaults are concrete.
            The amphitheater seated some 50,000 spectators, who were shielded from the sun by a massive retractable velarium (awning). Supporting masts extended from corbels built into the Colosseum’s top, or attic, story, and hundreds of Roman sailors were required to manipulate the rigging that extended and retracted the velarium. The Colosseum was the scene of thousands of hand-to-hand combats between gladiators, of contests between men and animals, and of many larger combats, including mock naval engagements. However, it is uncertain whether the arena was the site of the martyrdom of early Christians.

            In medieval times, the Colosseum was used as a church, then as a fortress by two prominent Roman families, the Frangipane and the Annibaldi. The Colosseum was damaged by lightning and earthquakes and, even more severely, by vandalism and pollution. All the marble seats and decorative materials disappeared, as the site was treated as little more than a quarry for more than 1,000 years. Preservation of the Colosseum began in earnest in the 19th century, with notable efforts led by Pius VIII, and a restoration project was undertaken in the 1990s. It has long been one of Rome’s major tourist attractions, receiving close to seven million visitors annually. Changing exhibitions relating to the culture of ancient Rome are regularly mounted.
        </p>

        <button><a href="/index.html">Back to Home Page</a></button>
    </div>
</body>
</html>